# Backups Visual Paradigm
*.vpp.bak*
*.bak*

# Archivos temporales
*.lck

# Ignorar todas las carpetas .idea (en raíz y subcarpetas)
.idea/

# Gradle
.gradle/
build/

# Config local
local.properties

# APKs
*.apk
*.aab

# Otros
*.log
Thumbs.db
